{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "plugins": ["prettier"],
  "rules": {
    "eqeqeq": "error",
    "jsx-quotes": ["error", "prefer-single"],
    "linebreak-style": ["error", "unix"],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "singleQuotes": 0
  }
}
