@import '../../sass/variables';
@import '../../sass/silent-classes';

.AnnouncementsPage {
  @extend %page;
  flex: 1;

  h1 {
    align-self: flex-start;
  }
}

.AddAnnouncementSection {
  width: 100%;
  padding: .5em 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $greyMedium;

  @media screen and (min-width: 600px) and (max-width: 768px) {
    padding: .5em 1em;
  }

  @media screen and (max-width: 600px) {
    padding: .5em;
  }
}

.AddAnnouncement {
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    margin: .5em 0 .8em 0;
  }

  p {
    margin: 0;
    margin-right: 14%;
    align-self: flex-end;
  }
}

.add-announcement-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;

  label, textarea {
    width: 95%;
    font-size: 1em;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  button {
    height: 2.728em;
    flex-basis: 6em;
    color: $white;
    font-size: 1em;
    background: $greyDark;
    border: none;
    outline: none;
    transition: 250ms;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      flex-basis: 4em;
    }

    &:hover {
      color: $yellow;
      background: darken($greyDark, 8%);
      border-radius: .5em;
      transform: scale(1.1, 1.2);
    }

    &:active {
      background: darken($greyDark, 15%);
      border-radius: 0;
      transform: scale(.9);
    }
  }
}

.AllAnnouncements-section {
  width: 100%;
  margin: 2em 0;
  padding: 0 3em;
  padding-bottom: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: $greyDark;

  h3 {
    //

    @media screen and (max-width: 475px) {
      font-size: 1em;
    }
  }

  .announcement-row {
    height: 100%;
    width: 100%;
    margin: .5em 0;
    padding: .25em .75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $greyMediumDark;

    @media screen and (max-width: 475px) {
      width: 100%;
      flex-direction: column;
    }

    .text {
      height: 3.33em;
      width: 75%;
      padding: 2px;
      display: flex;
      align-items: center;
      border: 1px solid transparent;

      @media screen and (min-width: 600px) and (max-width: 768px) {
        height: 5em;
        width: 75%;
      }

      @media screen and (min-width: 475px) and (max-width: 600px) {
        height: 8.25em;
        width: 75%;
      }

      @media screen and (max-width: 475px) {
        height: 9.4em;
        width: 100%;
        margin: 1em 0;
      }
    }

    textarea {
      height: 2.7em;
      width: 100%;
      margin-top: 1em;
      font-size: 1em;

      @media screen and (min-width: 600px) and (max-width: 768px) {
        height: 4.35em;
      }

      @media screen and (min-width: 475px) and (max-width: 600px) {
        height: 7.62em;
      }

      @media screen and (max-width: 475px) {
        height: 8.75em;
        width: 100%;
      }
    }

    .char-count {
      margin: 0;
      margin-bottom: .5em;
      align-self: flex-end;
    }

    &__btn-wrap {
      height: 100%;
      width: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: 600px) and (max-width: 768px) {
        height: 5.3125em;
        width: 20%;
        flex-direction: column;
        justify-content: space-around;
      }

      @media screen and (min-width: 475px) and (max-width: 600px) {
        height: 5.3125em;
        width: 20%;
        flex-direction: column;
        justify-content: space-around;
      }

      @media screen and (max-width: 475px) {
        height: 2em;
        width: 100%;
        justify-content: space-between;
      }
    }

    button {
      @extend %button;
      margin: 0;
      height: 2.5em;
      width: 45%;

      @media screen and (min-width: 768px) and (max-width: 900px) {
        width: 48%;
      }

      @media screen and (min-width: 600px) and (max-width: 768px) {
        height: 40%;
        width: 100%;
      }

      @media screen and (min-width: 475px) and (max-width: 600px) {
        height: 40%;
        width: 100%;
      }

      @media screen and (max-width: 475px) {
        height: 100%;
        width: 45%;
      }

      &:active {
        background: darken($greyDark, 15%);
        border-radius: 0;
        transform: scale(.9);
      }
    }
  }
}

.TextAreaCharCount {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 475px) {
    width: 100%;
  }
}

.warning-red {
  color: $redWarning;
}
