@import '../../sass/variables';
@import '../../sass/silent-classes';

.AnnouncementsPage {
  @extend %page;
  flex: 1;

  h1 {
    margin: .5em .5em;
    align-self: flex-start;
    font-size: 1.7em;
  }
}

.AddAnnouncement {
  width: 100%;
  display: flex;
  align-items: center;
  background: $greyMedium;

  &__form {
    // height: 10em;
    width: 100%;
    padding: .6em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1em;
  //
  //   .char-count {
  //     margin: 0 5% .5em 0;
  //     align-self: flex-end;
  //   }
  //
    &__div {
      // margin-top: 3em;
      // width: 100%;
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 1em;
        font-size: .9em;
        font-weight: bold;
      }
    }

    // &__text-wrap-div {
    //
    //   &__p {
    //     margin: 0;
    //     margin-right: 14%;
    //     align-self: flex-end;
    //   }
    // }

    button {
  //     height: 2.728em;
      width: 50%;
      margin: 0 auto;
      padding: .5em 0;
  //     flex-basis: 6em;
      color: $white;
      font-size: 1em;
      background: $greyDark;
      border: none;
      outline: none;
      transition: 250ms;
      cursor: pointer;

      &:hover {
        color: $yellow;
        background: darken($greyDark, 8%);
        border-radius: .5em;
        transform: scale(1.1, 1.2);
      }

      &:active {
        background: darken($greyDark, 15%);
        border-radius: 0;
        transform: scale(.9);
      }
    }
  }
}

// .AllAnnouncements-section {
//   width: 100%;
//   margin: 2em 0;
//   padding: 0 3em;
//   padding-bottom: 1.3em;
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: flex-start;
//   background: $greyDark;
// }
//
// .AnnouncementStrip {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }
//
// .likes-wrapper {
//   width: 12%;
//   margin: .5em 0;
//   padding: 0 .8em;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: $greyMediumDark;
//
//   p {
//     text-align: center;
//   }
// }
//
// .announcement-row {
//   min-height: 9vh;
//   width: 85%;
//   margin: .5em 0;
//   padding: .25em .75em;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background: $greyMediumDark;
//
//   &__text-wrap-div {
//     width: 75%;
//   }
//
//   &__text-wrap-p {
//     margin: 0 5%;
//   }
//
//   .char-count {
//     align-self: flex-end;
//   }
//
//   &__text-wrap-textarea {
//     height: 100%;
//     min-width: 95%;
//     max-width: 95%;
//     font-size: 1em;
//   }
//
//   .text {
//     width: 75%;
//     margin: 0;
//     padding: 0 1em;
//     display: flex;
//     align-items: center;
//     border: 1px solid transparent;
//   }
//
//   &__btn-wrap {
//     height: 100%;
//     width: 25%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
//
//   button {
//     @extend %button;
//     margin: 0;
//     height: 2.5em;
//     width: 45%;
//
//     &:active {
//       background: darken($greyDark, 15%);
//       border-radius: 0;
//       transform: scale(.9);
//     }
//   }
// }

.warning-red {
  color: $redWarning;
}

  ///////////////////
 // MEDIA QUERIES //
///////////////////

@media screen and (min-width: 1200px) {
  .AddAnnouncement {
    &__form {
      // width: 100%;
      flex-direction: row;
      align-items: center;

      &__div {
        flex: 1;

        label {
          font-size: 1.2em;
        }
      }

      &__text-wrap-div {
        &__textarea {
          width: 100% !important;
        }
      }

      button {
        width: 15%;
        margin-left: 1.5em;
        margin-bottom: 1.2em;
        padding: .8em 0;
        align-self: flex-end;
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .AddAnnouncement {
    &__form {
      &__div {
        label {
          font-size: 1.1em;
        }
      }

      button {
        width: 25%;
        padding: .8em 0;
      }
    }
  }
//
//   .likes-wrapper {
//     font-size: .9em;
//   }
//
//   .announcement-row {
//     .text {
//       padding: 0 1em 0 .5em;
//     }
//   }
}

@media screen and (min-width: 768px) {
  .AnnouncementsPage {
    h1 {
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .AddAnnouncement {
    &__form {
      padding: .8em 1em;

      &__div {
        label {
          font-size: 1.1em;
        }
      }

      button {
        width: 30%;
        padding: .7em 0;
      }
    }
  }
//
//   .likes-wrapper {
//     font-size: .8em;
//   }
//
//   .announcement-row {
//     min-height: 12.75vh;
//
//     &__text-wrap-p {
//       font-size: .9em;
//     }
//
//     &__text-wrap-textarea {
//       min-height: 8vh;
//     }
//
//     .text {
//       padding-left: .3em;
//     }
//
//     &__btn-wrap {
//       font-size: .95em;
//     }
//
//     button {
//       width: 48%;
//     }
//   }
}
//
// @media screen and (max-width: 768px) {
//   .add-announcement-form {
//     button {
//       flex-basis: 4em;
//     }
//   }
// }
//
@media screen and (min-width: 600px) and (max-width: 768px) {
  .AnnouncementsPage {
    h1 {
      font-size: 1.8em;
    }
  }

  .AddAnnouncement {
    &__form {
      padding: .7em 1em;

      &__div {
        label {
          font-size: 1em;
        }
      }

      button {
        width: 40%;
        padding: .6em 0;
      }
    }
  }
//
//   .likes-wrapper {
//     font-size: .7em;
//   }
//
//   .announcement-row {
//     min-height: 14vh;
//
//     &__text-wrap-p {
//       font-size: .8em;
//     }
//
//     &__text-wrap-textarea {
//       min-height: 10vh;
//       font-size: .9em;
//     }
//
//     .text {
//       padding: 0;
//       font-size: .9em;
//     }
//
//     &__btn-wrap {
//       height: 6.5em;
//       width: 20%;
//       flex-direction: column;
//       justify-content: space-around;
//       font-size: .9em;
//     }
//
//     button {
//       height: 40%;
//       width: 100%;
//     }
//   }
}

@media screen and (max-width: 600px) {
//   .AddAnnouncement {
//     padding: .5em;
//   }

  // .AddAnnouncement {
  //
  // }
//
//   .AllAnnouncements {
//     padding: 0 .5em;
//   }
}

// @media screen and (min-width: 475px) and (max-width: 600px) {
//   .announcement-row {
//     min-height: 20vh;
//     flex-direction: column;
//
//     &__text-wrap-div {
//       width: 100%;
//       padding: .5em 0;
//       flex: 1;
//     }
//
//     &__text-wrap-p {
//       font-size: .8em;
//     }
//
//     &__text-wrap-textarea {
//       min-width: 100%;
//       flex: 1;
//     }
//
//     .text {
//       width: 100%;
//       flex: 2;
//       padding: .3em;
//     }
//
//     &__btn-wrap {
//       max-height: 20%;
//       width: 100%;
//       justify-content: space-around;
//       font-size: 1em;
//     }
//
//     button {
//       height: 100%;
//       width: 45%;
//     }
//   }
// }
//
// @media screen and (max-width: 475px) {
//   .AllAnnouncements-section {
//     h3 {
//       font-size: 1em;
//     }
//   }
//
//   .AnnouncementStrip {
//     flex-direction: column;
//   }
//
//   .likes-wrapper {
//     max-height: 4vh;
//     width: 100%;
//     margin-top: 0;
//     font-size: .9em;
//   }
//
//   .announcement-row {
//     min-height: 16vh;
//     width: 100%;
//     margin-bottom: 0;
//     flex-direction: column;
//
//     &__text-wrap-div {
//       width: 100%;
//       padding: .5em 0;
//       flex: 1;
//     }
//
//     &__text-wrap-p {
//       font-size: .7em;
//     }
//
//     &__text-wrap-textarea {
//       min-width: 100%;
//       flex: 1;
//       font-size: .95em;
//     }
//
//     .text {
//       width: 100%;
//       padding: .3em;
//       font-size: .95em;
//     }
//
//     &__btn-wrap {
//       height: 3.5vh;
//       width: 100%;
//       justify-content: space-around;
//       font-size: .95em;
//     }
//
//     button {
//       height: 100%;
//       width: 35%;
//     }
//   }
// }
