@import './sass/variables';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background: $blackBG;
  color: $white;
}

header {
  height: 12vh;
  display: flex;
  background: $greyDark;
}

footer {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $black;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
