@import '../../sass/variables';
@import '../../sass/silent-classes/misc';
@import '../../sass/silent-classes/buttons';

.SignIn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form {
  @extend %add-manager-wrappers;

  label {
    width: 100%;
    margin-bottom: 1em;
    font-size: 1em;
  }

  input {
    width: 100%;
    font-size: 1em;
  }
}
