@import './_variables';

%btn-hover {
  color: $yellow;
  background: darken($greyDark, 8%);
  border-radius: .5em;
  transform: scale(1.04, 1.15);
}

%btn-active {
  background: darken($greyDark, 15%);
  border-radius: 0;
  transform: scale(.9);
  transition: 125ms;
}

%button {
  height: 2.5em;
  width: 100%;
  margin-top: 1em;
  color: $white;
  font-size: 1em;
  background: $greyDark;
  border: none;
  transition: 250ms;
  cursor: pointer;
  outline: none;

  &:hover {
    @extend %btn-hover;
  }

  &:active {
    @extend %btn-active;
  }
}

%add-manager-wrappers {
  width: 30vw;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: $greyMedium;
  font-size: 1.1em;

  button {
    @extend %button;
  }
}

%page {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
}
