$black: #000;
$blackBG: #141414;
$blueAccent: #88BBC8;
$blueGradDark: #0a002a;
$greenAccent: #93DBA5;
$greyDark: #333;
$greyLight: #AAA;
$greyMedium: #666;
$greyMediumDark: #444;
$purpleAccent: #94A1D1;
$red: #de2100;
$redWarning: #ff001f;
$white: #FFF;
$yellow: #FF0;
