@import '../sass/variables';
@import '../sass/silent-classes';

.TextAreaCharCount {
  display: flex;
  flex-direction: column;

  textarea {
    min-height: 2em;
    min-width: 100%;
    max-width: 100%;
    font-size: 1.3em;
  }

  .char-count {
    margin: 0;
    align-self: flex-end;
    font-size: 1.1em;
  }


  @media screen and (min-width: 768px) and (max-width: 1200px) {

    .char-count {
      font-size: 1em;
    }

    textarea {
      min-height: 2.7em;
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 768px) {
    .char-count {
      font-size: .9em;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 768px) {

    textarea {
      min-height: 2.7em;
      font-size: 1.1em;
    }
  }

  @media screen and (max-width: 600px) {

    textarea {
      min-height: 3.2em;
      font-size: 1em;
    }
  }
}

.warning-red {
  color: $redWarning;
}
